/* Base Styles */

body {
    background: $secondary; // Dark Blue Grey
}

.outer-wrapper {
    position: relative;
    margin: 0 auto;
    width: 90%;
    max-width: 1400px;
    
}

.inner-wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    
}

ul, li, a, input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: 0.3s;
}

.find-out-more {
    display: inline-block;
    width: 225px;  
    height: 50px; 
    background: $quaternary;
    line-height: 50px;
    color: $secondary;     
}

.read-more {
    display: inline-block;
    width: 150px;
    height: 50px;
    background: $secondary;
    line-height: 50px;
    color: $primary;
}

form {
    input {
        @include fontSize(20);
        border: none;
        border-bottom: 2px solid $quaternary;
        padding: 5px 0px 25px 20px;
        background: transparent;
        font-family: $bodyFont;
        color: $primary;
        &::placeholder {
            color: $primary;
            opacity: 1; 
        }
    }
    
    textarea {
        @include fontSize(20);
        font-family: $bodyFont;
        border: 2px solid $quaternary;
        padding-left: 20px;
        padding-top: 20px;
        background: transparent;
        color: $primary;

        &::placeholder {
            color: $primary;
            opacity: 1; 
        }
    }

    button {
        background: $tertiary;
        border: none;
        padding: 10px;
    }
}

img {
    width: 100%;
    display: block;
}

