/* Section Styles */

// Index Page Sections

// About Section (Section #1 - What is under the sea) Styles
.about-section {
    padding: 200px 200px 220px 200px;

    .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        h3 {
            width: 100%;
        }

        p {
            width: 100%;
            margin-bottom: 40px;
        }
    }
}

// Read More Section (Section #2 - New Additions and Meet Real Nemo) Styles
.read-more-section {
    background: $tertiary;
    padding-bottom: 50px;

    .inner-wrapper {
        display: flex;
        flex-wrap: wrap;

        .txt-container-right {
            margin: 10px 0px 0px 120px;
            width: calc(50% - 120px);
        }

        .txt-container-left {
            margin: 0px 120px 10px 0px;
            width: calc(50% - 120px);
            text-align: right;
        }

        .img-container-left {
            margin-right: 100px;
            margin-bottom: 400px;
            width: calc(50% - 100px);
            
            img {
                width: 40%;
                position: absolute;
                top: -50px;
                left: 0px;
                box-shadow: 45px 45px 0 $quaternary;           
            }
        }

        .img-container-right{
            margin-left: 100px;
            width: calc(50% - 100px);

            img {
                width: 40%;
                position: absolute;
                bottom: -50px;
                right: 0px;
                box-shadow: -45px 45px 0 $quaternary
            }
        }

    }
}

.additional-info-section {
    padding: 125px 0px 50px 0px;

    .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .info-container {
        display: flex;
        width: 50%;
        margin-bottom: 25px;
    }

    .icon-container {
        width: calc(5% - (75px / 2));
        margin-right: 75px;

        i {
            @include fontSize(25);
            background: $quaternary;
            color: $secondary;
            border-radius: 50%;
            padding: 12px;
        }
    }

    .txt-container {
        width: calc(95% - (75px / 2));
        margin-top: 10px;

        h4 {
            margin: 0px;
        }
    }
}

.this-month-profile {
    padding: 125px 0px 100px 0px;

    .inner-wrapper {
        display: flex;
    }

    .img-container {
        width: 25%;
        margin-right: 100px;
        
        img {
            box-shadow: 45px 45px 0 $quaternary;
        }
    }

    .txt-container {
        width: 75%;
        margin-left: 50px;

        h3 {
            text-align: left;
            margin: 0px;
        }

        p {
            margin-bottom: 50px;
        }
    }
}

.gallery {
    background: $tertiary;
    padding: 100px 0px 100px 0px;

    .inner-wrapper {

        ul {
            display: flex;
            justify-content: space-between;

            li {
                width: 32%;

            }
        }
    }
}

footer {
    background: $quaternary;
    color: $secondary;

    p {
        margin: 0px;
        padding: 5px;
        text-align: center;
    }
}

// Blog Page Sections

.blog-sections {

    padding-bottom: 100px;
    

    .inner-wrapper {
        display: flex;
        
    }

    aside {
        width: 35%;
        margin-right: 60px;
        padding-top: 120px;
        
        

        .side-bar-container {
            background: $tertiary;
            padding-top: 400px;
            padding-bottom: 30px;
            
            
            
        }


        img {
            width: 33%;
            position: absolute;
            top: 100px;
            left: -20px;
        }

        .txt-container {
            margin-left: 25px;
        }

        h5 {
            margin: 0px;
        }

        p {
            margin: 15px 0px 60px 0px;
        }

        ul {
            list-style: disc;
            margin-left: 20px;
        }

        
    }

    article {
        width: 75%;

        .blog-content {
            border-left: 5px solid $quaternary;
            border-bottom: 5px solid $quaternary;
            padding-top: 400px;

            .img-container {
            // margin-left: 100px;
            // width: calc(50% - 100px);

                img {
                    width: 65%;
                    position: absolute;
                    top: -260px;
                    right: -77px;
                    box-shadow: -45px 45px 0 $quaternary
                }
            }
        }


        .txt-container {
            margin-left: 50px;
        }

        h3, p {
           text-align: left; 
        }

        p {
            &:first-of-type {
                margin-bottom: 50px;
            }
        }

        

        .posted-comments {
            display: flex;
            flex-wrap: wrap;
            margin-left: 50px;

            .comments-box {
                display: flex;
                margin-bottom: 100px;
                
            }

            h4 {
                width: 100%;
                margin-bottom: 20px;
            }

            .img-container {
                width: 20%;
            }

            .txt-container {
                width: 80%;
            }

            p {
                margin: 0;
                padding: 0;

                &:first-of-type {
                    margin-bottom: 15px;
                }
            }


        
        }

        form {        
            .name-email-container {
                display: flex;
                width: 100%;
                justify-content: space-evenly;

                input {
                width: calc(50% - 30px);
                margin-left: 30px;
                margin-bottom: 40px;
            }
            }
            

            

            textarea {
                margin-left: 30px;
                margin-bottom: 50px;
                width: calc(100% - 30px);
                
            }

            button {
                margin-left: 30px;
                width: calc(100% - 30px);
            }
        }
    }

    
}

// Contact Page Sections

.contact {
    padding: 150px 0px 150px 0px;

    .inner-wrapper {
        display: flex;
        position: relative;
    }

    .contact-info-container {
        
        display: flex;
        flex-direction: column;
        width: 30%;

        ul {
            display: flex;
        }

        li {
            margin-right: 30px;
            @include fontSize(30)
        }

        h5 {
            margin-top: 25px;
            margin-bottom: 20px;
        }

        p {
            margin: 0
        }
    }

    .contact-form-container {
        //border: 2px solid red;
        width: 70%;
        background: $tertiary;
        padding: 100px 50px 100px 50px;
        position: absolute;
        top: -425px;
        right: 0;
        box-shadow: -45px 45px 0 $quaternary;;

               
            .name-email-container {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            input {
                
                width: calc(48%);
                margin-bottom: 50px;
            }

            textarea {
                width: 100%;
            }

            button {
                margin-top: 50px;
                width: 100%;
                text-align: center;
                background: $secondary;
                
            }
    }
}


