/*  =============================================
    Section Styles - CSS Styling for Main Content 
    =============================================*/

/*  Index Page (Home Page) Styling
    ============================== */
    

/* About Section (What is Under the Sea) Styles */
.about-section {
    padding: 9rem 10rem 10rem 10rem;

    .inner-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h3 {
        width: 100%;
    }

    p {
        width: 100%;
        margin: 1rem 0rem 2rem 0rem;
    }
    
}

/* Read More Section (New Additions and Meet Real Nemo) Styles */
.read-more-section {
    background: $tertiary;
    padding: 2.5rem 0rem 2.5rem 0rem;

    .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .txt-container-right {
        margin: 1rem 0rem 0rem 6rem;
        width: calc(50% - 120px);

        p {
            margin: 1.5rem 0rem 1.5rem 0rem;
        }
    }

    .txt-container-left {
        margin: 1rem 6rem 0rem 0rem;
        width: calc(50% - 120px);
        text-align: right;

        p {
            margin: 1.5rem 0rem 1.5rem 0rem;
        }
    }    

    .img-container-left {
        margin: 0rem 5rem 20rem 0rem;
        width: calc(50% - 100px);
        
        img {
            width: 40%;
            position: absolute;
            top: -100px;
            left: 0px;
            box-shadow: 45px 45px 0 $quaternary;           
        }
    }

    .img-container-right{
        margin: 0rem 0rem 0rem 5rem;
        width: calc(50% - 100px);

        img {
            width: 40%;
            position: absolute;
            bottom: -50px;
            right: 0px;
            box-shadow: -45px 45px 0 $quaternary
        }
    }

} 

/* Additional Info Section (Locations, Community, Blog, Get in Touch) Styles */
.additional-info-section {
    padding: 6.25rem 0rem 3rem 0rem;

    .inner-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .info-container {
        display: flex;
        width: 50%;
        margin: 0rem 0rem 1.25rem 0rem;
    }

    .icon-container {
        width: calc(5% - (75px / 2));
        margin: 0rem 3.75rem 0rem 0rem;

        i {
            @include fontSize(25);
            background: $quaternary;
            color: $secondary;
            border-radius: 50%;
            padding: 0.6rem;
        }
    }

    .txt-container {
        width: calc(95% - (75px / 2));
        margin: 0.5rem 0rem 0rem 0rem;

        h4 {
            margin: 0rem 0rem 1rem 0rem;
        }
    }
}

/* This Month Profile Section Styles */
.this-month-profile {
    padding: 6.25rem 0rem 6rem 0rem;

    .inner-wrapper {
        display: flex;
    }

    .img-container {
        width: 30%;
        margin: 0rem 4rem 0rem 0rem;
        
        img {
            box-shadow: 45px 45px 0 $quaternary;
        }
    }

    .txt-container {
        width: 70%;
        margin: 0rem 0rem 0rem 2.5rem;

        h3 {
            text-align: left;
        }

        p {
            margin: 1rem 0rem 2.5rem 0rem;
        }
    }
}

/* Gallery Section Styles */
.gallery {
    background: $tertiary;
    padding: 5rem 0rem 5rem 0rem;

    ul {
            display: flex;
            justify-content: space-between;

            li {
                width: 32%;

            }
    }
}

/*  Blog Page (Home Page) Styling
    ============================== */
.blog-sections {
    padding: 0rem 0rem 5rem 0rem;
    

    .inner-wrapper {
        display: flex;
    }

    /* Aside Section Styling */
    aside {
        width: 35%;
        margin: 0rem 3rem 0rem 0rem;
        padding: 6rem 0rem 0rem 0rem;
        
        .side-bar-container {
            background: $tertiary;
            padding: 0rem 0rem 1.5rem 0rem;
            position: relative;
        }

        .img-container {
            width: 120%;
            position: relative;
            top: -25px;
            right: 100px;

            img {
                width: 100%;
            }
        }

        .txt-container {
            margin-left: 1.25rem;
        }

        p {
            margin: 0.75rem 0rem 3rem 0rem;
        }

        ul {
            list-style: disc;
            margin-left: 1rem;
        }
    }

    /* Article Section (Blog) Stying */
    article {
        width: 75%;

        /* Blog Content Subsection Styling */
        .blog-content {
            border-left: 5px solid $quaternary;
            border-bottom: 5px solid $quaternary;
            position: relative;

            .img-container {
                position: relative;
                width: 110%;
                top: -230px;
                left: 40px;
                box-shadow: -45px 45px 0 $quaternary;

                img {
                    width: 100%;
                }
            }

            .txt-container {
                 margin: -7.5rem 0rem 0rem 2.5rem;
            }

            p {
                margin-bottom: 1rem;
            }

            h3, p {
                text-align: left; 
            }

            p {
                &:first-of-type {
                    margin-bottom: 2.5rem;
                }
            }
        }

        /* Comment Section Subsection Styling */
        .posted-comments {
            display: flex;
            flex-wrap: wrap;
            margin-left: 2.5rem;

            .comments-box {
                display: flex;
                margin-bottom: 5rem;
                
            }

            h4 {
                width: 100%;
                margin: 2rem 0rem 1rem 0rem;
            }

            .img-container {
                width: 15%;
                margin: 0.5rem 1.5rem 0rem 0rem;
            }

            .txt-container {
                width: 85%;
            }

            p {
                margin: 0;
                padding: 0;

                &:first-of-type {
                    margin-bottom: 0.75rem;
                }
            }


        
        }

        /* Comments Form Styling */
        form {        
            .name-email-container {
                display: flex;
                width: 100%;
                justify-content: space-between;
            }

            .input-name-container {
                width: 50%;
                display: flex;
                justify-content: flex-start;
            }

            .input-email-container {
                width: 50%;
                display: flex;
                justify-content: flex-end;
            }

            input {
                width: 95%;
                margin-bottom: 2rem
            }
            
            textarea {
                margin-bottom: 2.5rem;
                width: 100%;
            }

            button {
                width: 100%;

                &:hover,
                &:focus {
                    background: rgba(15,97,78,0.7);
                }
            }
        }
    }    
}

/*  Contact Page Styling
    ============================== */

/* Contact Page Container and Children Styling */
.contact {
    padding: 7.5rem 0rem 0rem 0rem;

    .inner-wrapper {
        display: flex;
    }

    /* Contact Page Contact Info Section Styling */
    .contact-info-container {
        display: flex;
        flex-direction: column;
        width: 35%;
        margin-right: 3rem;

        ul {
            display: flex;
        }

        li {
            margin-right: 30px;
            @include fontSize(30)
        }

        h5 {
            margin-top: 25px;
            margin-bottom: 20px;
            text-align: left;
        }

        p {
            margin: 0
        }
    }

    /* Comments Form Styling */
    form {
        width: 100%;
        position: relative;
        top: -375px;
        right: -25px;
        background: $tertiary;
        padding: 4rem 2.5rem 2.5rem 2.5rem;
        margin-bottom: -10rem;
        box-shadow: -45px 45px 0 $quaternary;
        

        .name-email-container {
            display: flex;
            width: 100%;
            justify-content: space-between;
        }

        .input-name-container {
            width: 50%;
            display: flex;
            justify-content: flex-start;
        }

        .input-email-container {
            width: 50%;
            display: flex;
            justify-content: flex-end;
        }

        input {
            width: 95%;
            margin-bottom: 2rem;
        }

        textarea {
            margin-bottom: 2.5rem;
            width: 100%;
        }

        button {
            width: 100%;
            margin-top: 0;
            width: 100%;
            text-align: center;
            background: $secondary;

            &:hover,
            &:focus {
                background: rgba(12,25,30,0.8);
            }
        }
    }
}


