html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mixins */
/* Variables Partial */
/* Colours:
- primary text (white): #FFFFFF
- secondary (dark blue grey): #0C1423
- tertiary (spruce): #0F614E
- quaternary (blue): #86E0F9 
*/
/* Fonts:
- headings, nav, and buttons: Barlow, Bold
- body: lato, Regular
*/
/* Typography */
html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6, nav li, button {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

h1 {
  font-size: 6.9rem;
  line-height: 6.3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-size: 2.1rem;
  line-height: 2.1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h5 {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

nav li, a {
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  padding: 10;
  margin: 10;
}

button {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

/* Base Styles */
body {
  background: #0C1423;
}

.outer-wrapper {
  position: relative;
  margin: 0 auto;
  width: 90%;
  max-width: 1400px;
}

.inner-wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.find-out-more {
  display: inline-block;
  width: 225px;
  height: 50px;
  background: #86E0F9;
  line-height: 50px;
  color: #0C1423;
}

.read-more {
  display: inline-block;
  width: 150px;
  height: 50px;
  background: #0C1423;
  line-height: 50px;
  color: #FFFFFF;
}

form input {
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #86E0F9;
  padding: 5px 0px 25px 20px;
  background: transparent;
  font-family: "Lato";
  color: #FFFFFF;
}
form input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form input::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form input::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea {
  font-size: 1rem;
  font-family: "Lato";
  border: 2px solid #86E0F9;
  padding-left: 20px;
  padding-top: 20px;
  background: transparent;
  color: #FFFFFF;
}
form textarea::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form button {
  background: #0F614E;
  border: none;
  padding: 10px;
}

img {
  width: 100%;
  display: block;
}

/* Header Styles */
.header {
  background: rgba(0, 0, 0, 0.5) url(../assets/header-image.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  position: relative;
}
.header .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header .inner-wrapper .title-container {
  width: 50%;
  margin: 125px 0px 0px 0px;
}
.header .inner-wrapper h1 {
  margin: 0;
  width: 75%;
}
.header .inner-wrapper .img-container {
  width: 50%;
  margin: 125px 0px 0px 0px;
}
.header .inner-wrapper img {
  position: absolute;
  width: 55%;
  right: 0;
}
.header .primary-nav {
  width: 100%;
  padding-top: 40px;
}
.header .primary-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 20px;
}
.header .primary-nav li {
  margin-left: 60px;
}
.header .primary-nav li:hover {
  color: #86E0F9;
}

.blog-header {
  background: url(../assets/blog-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}
.blog-header .inner-wrapper .title-container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}
.blog-header h2 {
  width: 100%;
  text-align: center;
  margin: 0px;
  padding: 200px 0px 200px 0px;
}
.blog-header .img-container {
  width: 50%;
  position: absolute;
  top: 175px;
  right: 0px;
}

.contact-header {
  background: url(../assets/contact-header.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}
.contact-header .inner-wrapper .title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.contact-header h2 {
  text-align: center;
  margin: 0px;
  padding: 200px 0px 200px 0px;
}

/* Section Styles */
.about-section {
  padding: 200px 200px 220px 200px;
}
.about-section .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about-section .inner-wrapper h3 {
  width: 100%;
}
.about-section .inner-wrapper p {
  width: 100%;
  margin-bottom: 40px;
}

.read-more-section {
  background: #0F614E;
  padding-bottom: 50px;
}
.read-more-section .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.read-more-section .inner-wrapper .txt-container-right {
  margin: 10px 0px 0px 120px;
  width: calc(50% - 120px);
}
.read-more-section .inner-wrapper .txt-container-left {
  margin: 0px 120px 10px 0px;
  width: calc(50% - 120px);
  text-align: right;
}
.read-more-section .inner-wrapper .img-container-left {
  margin-right: 100px;
  margin-bottom: 400px;
  width: calc(50% - 100px);
}
.read-more-section .inner-wrapper .img-container-left img {
  width: 40%;
  position: absolute;
  top: -50px;
  left: 0px;
  -webkit-box-shadow: 45px 45px 0 #86E0F9;
          box-shadow: 45px 45px 0 #86E0F9;
}
.read-more-section .inner-wrapper .img-container-right {
  margin-left: 100px;
  width: calc(50% - 100px);
}
.read-more-section .inner-wrapper .img-container-right img {
  width: 40%;
  position: absolute;
  bottom: -50px;
  right: 0px;
  -webkit-box-shadow: -45px 45px 0 #86E0F9;
          box-shadow: -45px 45px 0 #86E0F9;
}

.additional-info-section {
  padding: 125px 0px 50px 0px;
}
.additional-info-section .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.additional-info-section .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-bottom: 25px;
}
.additional-info-section .icon-container {
  width: calc(5% - 37.5px);
  margin-right: 75px;
}
.additional-info-section .icon-container i {
  font-size: 1.25rem;
  background: #86E0F9;
  color: #0C1423;
  border-radius: 50%;
  padding: 12px;
}
.additional-info-section .txt-container {
  width: calc(95% - 37.5px);
  margin-top: 10px;
}
.additional-info-section .txt-container h4 {
  margin: 0px;
}

.this-month-profile {
  padding: 125px 0px 100px 0px;
}
.this-month-profile .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.this-month-profile .img-container {
  width: 25%;
  margin-right: 100px;
}
.this-month-profile .img-container img {
  -webkit-box-shadow: 45px 45px 0 #86E0F9;
          box-shadow: 45px 45px 0 #86E0F9;
}
.this-month-profile .txt-container {
  width: 75%;
  margin-left: 50px;
}
.this-month-profile .txt-container h3 {
  text-align: left;
  margin: 0px;
}
.this-month-profile .txt-container p {
  margin-bottom: 50px;
}

.gallery {
  background: #0F614E;
  padding: 100px 0px 100px 0px;
}
.gallery .inner-wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .inner-wrapper ul li {
  width: 32%;
}

footer {
  background: #86E0F9;
  color: #0C1423;
}
footer p {
  margin: 0px;
  padding: 5px;
  text-align: center;
}

.blog-sections {
  padding-bottom: 100px;
}
.blog-sections .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-sections aside {
  width: 35%;
  margin-right: 60px;
  padding-top: 120px;
}
.blog-sections aside .side-bar-container {
  background: #0F614E;
  padding-top: 400px;
  padding-bottom: 30px;
}
.blog-sections aside img {
  width: 33%;
  position: absolute;
  top: 100px;
  left: -20px;
}
.blog-sections aside .txt-container {
  margin-left: 25px;
}
.blog-sections aside h5 {
  margin: 0px;
}
.blog-sections aside p {
  margin: 15px 0px 60px 0px;
}
.blog-sections aside ul {
  list-style: disc;
  margin-left: 20px;
}
.blog-sections article {
  width: 75%;
}
.blog-sections article .blog-content {
  border-left: 5px solid #86E0F9;
  border-bottom: 5px solid #86E0F9;
  padding-top: 400px;
}
.blog-sections article .blog-content .img-container img {
  width: 65%;
  position: absolute;
  top: -260px;
  right: -77px;
  -webkit-box-shadow: -45px 45px 0 #86E0F9;
          box-shadow: -45px 45px 0 #86E0F9;
}
.blog-sections article .txt-container {
  margin-left: 50px;
}
.blog-sections article h3, .blog-sections article p {
  text-align: left;
}
.blog-sections article p:first-of-type {
  margin-bottom: 50px;
}
.blog-sections article .posted-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: 50px;
}
.blog-sections article .posted-comments .comments-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 100px;
}
.blog-sections article .posted-comments h4 {
  width: 100%;
  margin-bottom: 20px;
}
.blog-sections article .posted-comments .img-container {
  width: 20%;
}
.blog-sections article .posted-comments .txt-container {
  width: 80%;
}
.blog-sections article .posted-comments p {
  margin: 0;
  padding: 0;
}
.blog-sections article .posted-comments p:first-of-type {
  margin-bottom: 15px;
}
.blog-sections article form .name-email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.blog-sections article form .name-email-container input {
  width: calc(50% - 30px);
  margin-left: 30px;
  margin-bottom: 40px;
}
.blog-sections article form textarea {
  margin-left: 30px;
  margin-bottom: 50px;
  width: calc(100% - 30px);
}
.blog-sections article form button {
  margin-left: 30px;
  width: calc(100% - 30px);
}

.contact {
  padding: 150px 0px 150px 0px;
}
.contact .inner-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.contact .contact-info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30%;
}
.contact .contact-info-container ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact .contact-info-container li {
  margin-right: 30px;
  font-size: 1.5rem;
}
.contact .contact-info-container h5 {
  margin-top: 25px;
  margin-bottom: 20px;
}
.contact .contact-info-container p {
  margin: 0;
}
.contact .contact-form-container {
  width: 70%;
  background: #0F614E;
  padding: 100px 50px 100px 50px;
  position: absolute;
  top: -425px;
  right: 0;
  -webkit-box-shadow: -45px 45px 0 #86E0F9;
          box-shadow: -45px 45px 0 #86E0F9;
}
.contact .contact-form-container .name-email-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact .contact-form-container input {
  width: 48%;
  margin-bottom: 50px;
}
.contact .contact-form-container textarea {
  width: 100%;
}
.contact .contact-form-container button {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  background: #0C1423;
}

@media screen and (max-width: 1024px) {
  /* Home Page Styles */
  .read-more-section .inner-wrapper .img-container-left {
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 100px;
  }
  .read-more-section .inner-wrapper .img-container-left img {
    position: static;
    width: 100%;
    -webkit-box-shadow: 20px 20px 0 #86E0F9;
            box-shadow: 20px 20px 0 #86E0F9;
  }
  .read-more-section .inner-wrapper .img-container-right {
    margin-left: 0;
    margin-top: 0;
    padding-top: 100px;
  }
  .read-more-section .inner-wrapper .img-container-right img {
    width: 100%;
    position: static;
    -webkit-box-shadow: -20px 20px 0 #86E0F9;
            box-shadow: -20px 20px 0 #86E0F9;
  }

  /* Blog Page Styles */
  .blog-sections aside .side-bar-container {
    padding: 250px 0px 50px 0px;
  }
  .blog-sections article .blog-content {
    padding: 200px 0px 0px 0px;
  }
  .blog-sections article .blog-content .img-container img {
    -webkit-box-shadow: -20px 20px 0 #86E0F9;
            box-shadow: -20px 20px 0 #86E0F9;
  }
}
@media screen and (max-width: 768px) {
  /* Home Page Styles */
  .header .primary-nav ul {
    margin: 0;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .header .primary-nav ul li {
    margin: 0;
  }

  h1 {
    font-size: 5rem;
    line-height: 4.6rem;
  }

  .about-section {
    padding: 120px 90px 120px 90px;
  }
  .about-section .inner-wrapper h3 {
    margin: 0px 0px 20px 0px;
    font-size: 1.9rem;
  }
  .about-section .inner-wrapper p {
    text-align: center;
    font-size: 0.9rem;
  }
  .about-section .inner-wrapper a {
    font-size: 0.9rem;
  }

  .read-more-section .inner-wrapper .img-container-left {
    width: 40%;
    padding-top: 50px;
  }
  .read-more-section .inner-wrapper .img-container-left img {
    width: 100%;
  }
  .read-more-section .inner-wrapper .img-container-right {
    width: 40%;
    padding-top: 50px;
  }
  .read-more-section .inner-wrapper .img-container-right img {
    width: 100%;
  }
  .read-more-section .inner-wrapper .txt-container-right {
    width: 50%;
    margin-left: 65px;
  }
  .read-more-section .inner-wrapper .txt-container-right h4 {
    font-size: 1.4rem;
  }
  .read-more-section .inner-wrapper .txt-container-right p {
    font-size: 0.9rem;
  }
  .read-more-section .inner-wrapper .txt-container-right a {
    font-size: 0.9rem;
  }
  .read-more-section .inner-wrapper .txt-container-left {
    width: 50%;
    margin-right: 65px;
  }
  .read-more-section .inner-wrapper .txt-container-left h4 {
    font-size: 1.4rem;
  }
  .read-more-section .inner-wrapper .txt-container-left p {
    font-size: 0.9rem;
  }
  .read-more-section .inner-wrapper .txt-container-left a {
    font-size: 0.9rem;
  }

  .additional-info-section h4 {
    font-size: 1.4rem;
  }
  .additional-info-section p {
    font-size: 0.9rem;
  }

  .this-month-profile .inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .this-month-profile .img-container {
    width: 50%;
    margin: 0px 0px 50px 0px;
  }
  .this-month-profile .img-container img {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .this-month-profile .txt-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
  .this-month-profile .txt-container h3 {
    text-align: center;
    font-size: 1.9rem;
  }
  .this-month-profile .txt-container p {
    text-align: center;
    font-size: 0.9rem;
  }
  .this-month-profile .txt-container a {
    font-size: 0.9rem;
  }

  .blog-sections .inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blog-sections aside {
    width: 100%;
    padding: 80px 0px 0px 0px;
  }
  .blog-sections aside .side-bar-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 20px 0px 20px 0px;
  }
  .blog-sections aside .side-bar-container .img-container {
    width: 50%;
    margin: 0px 20px 0px 20px;
  }
  .blog-sections aside .side-bar-container .img-container img {
    position: static;
    width: 100%;
  }
  .blog-sections aside .side-bar-container .txt-container {
    width: 40%;
    margin: 0;
  }
  .blog-sections aside .side-bar-container .txt-container h5 {
    font-size: 1.1rem;
  }
  .blog-sections aside .side-bar-container .txt-container p {
    font-size: 0.8rem;
    line-height: 1.3rem;
    margin: 0px 0px 25px 0px;
  }
  .blog-sections aside .side-bar-container .txt-container li {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .blog-sections article {
    width: 100%;
  }
  .blog-sections article .blog-content {
    border: 5px solid #86E0F9;
    padding: 10px 0px 0px 0px;
    margin-top: 50px;
  }
  .blog-sections article .blog-content .img-container {
    width: 100%;
    padding: 15px;
  }
  .blog-sections article .blog-content .img-container img {
    width: 100%;
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .blog-sections article .blog-content .txt-container {
    margin: 0px 25px 0px 25px;
  }
  .blog-sections article .posted-comments {
    margin: 0px 25px 0px 25px;
  }
  .blog-sections article form .name-email-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .blog-sections article form .name-email-container input {
    margin: 0px 0px 40px 0px;
  }
  .blog-sections article form textarea {
    margin: 0px 0px 50px 0px;
  }
  .blog-sections article form button {
    margin: 0;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .header .inner-wrapper .img-container {
    display: none;
  }
  .header .primary-nav {
    display: none;
  }

  .about-section {
    padding: 120px 0px 120px 0px;
  }
  .about-section h3 {
    padding: 0px 40px 0px 40px;
  }

  .read-more-section h4, .read-more-section p, .read-more-section a {
    text-align: center;
  }
  .read-more-section .inner-wrapper .img-container-left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .read-more-section .inner-wrapper .img-container-left img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .read-more-section .inner-wrapper .img-container-right {
    width: 100%;
    padding-top: 80px;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .read-more-section .inner-wrapper .img-container-right img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .read-more-section .inner-wrapper .txt-container-right {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .read-more-section .inner-wrapper .txt-container-left {
    margin: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }

  .additional-info-section {
    padding: 120px 0px 50px 0px;
  }
  .additional-info-section .inner-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .additional-info-section .inner-wrapper .info-container {
    width: 100%;
  }

  .this-month-profile {
    padding: 120px 0px 100px 0px;
  }

  .gallery .inner-wrapper ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery .inner-wrapper ul li {
    width: 80%;
    margin: 25px 0px 25px 0px;
  }

  .blog-sections p {
    font-size: 0.8rem;
  }
  .blog-sections aside .side-bar-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-sections aside .side-bar-container .txt-container {
    width: 100%;
  }
}