html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Mixins */
/* Variables Partial */
/* Colours:
- primary text (white): #FFFFFF
- secondary (dark blue grey): #0C1423
- tertiary (spruce): #0F614E
- quaternary (blue): #86E0F9 
*/
/* Fonts:
- headings, nav, and buttons: Barlow, Bold
- body: lato, Regular
*/
/* Typography */
html {
  font-size: 125%;
}

body {
  font-family: "Lato", sans-serif;
  color: #FFFFFF;
  font-size: 1rem;
  line-height: 1.6rem;
}

h1, h2, h3, h4, h5, h6, nav li, button {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  color: #FFFFFF;
}

h1 {
  font-size: 6.9rem;
  line-height: 6.3rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-size: 4rem;
  line-height: 4.6rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h3 {
  font-size: 2.1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 20px;
  text-align: center;
}

h4 {
  font-size: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h5 {
  font-size: 1.4rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}

nav li, a {
  font-size: 1rem;
  line-height: 1.45rem;
  letter-spacing: 0.05rem;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  padding: 10;
  margin: 10;
}

button {
  font-size: 1rem;
  line-height: 1.6rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

/* Base Styles */
body {
  background: #0C1423;
}

.wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

ul, li, a, input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.find-out-more {
  background: #86E0F9;
  color: #0C1423;
  display: inline-block;
  line-height: 50px;
  width: 225px;
  height: 50px;
}

.read-more {
  background: #0C1423;
  color: #FFFFFF;
  display: inline-block;
  line-height: 50px;
  width: 150px;
  height: 50px;
}

form input {
  font-family: "Lato";
  font-size: 1rem;
  border: none;
  border-bottom: 2px solid #86E0F9;
  padding-top: 5px;
  padding-left: 25px;
  padding-bottom: 20px;
  background: transparent;
  color: #FFFFFF;
}
form input::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form input::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form input:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form input::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form input::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea {
  font-family: "Lato";
  font-size: 1rem;
  border: 2px solid #86E0F9;
  padding-left: 20px;
  padding-top: 20px;
  background: transparent;
  color: #FFFFFF;
}
form textarea::-webkit-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea:-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea::-ms-input-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form textarea::placeholder {
  color: #FFFFFF;
  opacity: 1;
}
form button {
  background: #0F614E;
  border: none;
  padding: 10px;
}

img {
  width: 100%;
  display: block;
}

/* Header Styles */
.index-header {
  background: rgba(0, 0, 0, 0.4) url(../assets/header-image.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  position: relative;
}
.index-header h1 {
  display: inline-block;
  word-spacing: 100vw;
}
.index-header .img-container {
  width: 50%;
  position: absolute;
  top: 175px;
  right: 0px;
}

.header-nav {
  padding-top: 40px;
}
.header-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: 20px;
}
.header-nav ul li {
  margin-left: 60px;
}
.header-nav ul li:hover {
  color: #86E0F9;
}

.blog-header {
  background: rgba(0, 0, 0, 0.4) url(../assets/blog-header.jpg);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}
.blog-header h2 {
  text-align: center;
  margin: 0px;
  padding: 200px 0px 200px 0px;
}
.blog-header .img-container {
  width: 50%;
  position: absolute;
  top: 175px;
  right: 0px;
}

/* Section Styles */
.what-is-under-the-sea {
  padding: 200px 200px 220px 200px;
}
.what-is-under-the-sea .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.what-is-under-the-sea .wrapper h3 {
  text-align: center;
}
.what-is-under-the-sea .wrapper p {
  margin-bottom: 40px;
}

.new-additions-and-meet-real-nemo {
  background: #0F614E;
  position: relative;
  padding-bottom: 50px;
}
.new-additions-and-meet-real-nemo .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.new-additions-and-meet-real-nemo .wrapper .txt-container-right {
  margin-left: 120px;
  margin-bottom: 110px;
  padding-top: 20px;
  width: calc(50% - 120px);
}
.new-additions-and-meet-real-nemo .wrapper .txt-container-left {
  margin-right: 120px;
  margin-top: 110px;
  width: calc(50% - 120px);
  text-align: right;
}
.new-additions-and-meet-real-nemo .wrapper .img-container-left {
  margin-right: 100px;
  width: calc(50% - 100px);
}
.new-additions-and-meet-real-nemo .wrapper .img-container-left img {
  width: 43vw;
  position: absolute;
  top: -50px;
  left: 0px;
  -webkit-box-shadow: 45px 50px 0 #86E0F9;
          box-shadow: 45px 50px 0 #86E0F9;
}
.new-additions-and-meet-real-nemo .wrapper .img-container-right {
  margin-left: 100px;
  width: calc(50% - 100px);
}
.new-additions-and-meet-real-nemo .wrapper .img-container-right img {
  width: 43vw;
  position: absolute;
  bottom: -50px;
  right: 0px;
  -webkit-box-shadow: -45px 50px 0 #86E0F9;
          box-shadow: -45px 50px 0 #86E0F9;
}

.locations-community-blog-contact {
  padding: 150px 0px 75px 0px;
}
.locations-community-blog-contact .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.locations-community-blog-contact .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
}
.locations-community-blog-contact .icon-container {
  width: calc(5% - 37.5px);
  margin-right: 75px;
}
.locations-community-blog-contact .icon-container i {
  font-size: 1.25rem;
  background: #86E0F9;
  color: #0C1423;
  border-radius: 50%;
  padding: 12px;
}
.locations-community-blog-contact .txt-container {
  width: calc(95% - 37.5px);
  margin-top: 10px;
}
.locations-community-blog-contact .txt-container h4 {
  margin: 0px;
}

.this-month-profile {
  padding: 125px 0px 100px 0px;
}
.this-month-profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.this-month-profile .img-container {
  width: 25%;
  margin-right: 100px;
}
.this-month-profile .img-container img {
  -webkit-box-shadow: 45px 45px 0 #86E0F9;
          box-shadow: 45px 45px 0 #86E0F9;
}
.this-month-profile .txt-container {
  width: 75%;
  margin-left: 50px;
}
.this-month-profile .txt-container h3 {
  text-align: left;
  margin: 0px;
}
.this-month-profile .txt-container p {
  margin-bottom: 50px;
}

.gallery {
  background: #0F614E;
  padding: 100px 0px 100px 0px;
}
.gallery .wrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery .wrapper ul li {
  width: 32%;
}

footer {
  background: #86E0F9;
  color: #0C1423;
}
footer p {
  margin: 0px;
  padding: 5px;
  text-align: center;
}